* {
    box-sizing: border-box;
    padding: 2px;
    margin: 2px;
}


html {    
    font-family: cursive, monospace;    
}

body {
    background-image: url(img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
    background-color: #aa9a9a;
}

.header-cont{
    font-size: 22px;
}

.input-cont{
    display: flex;
    flex-direction: column;
}

.inner-input-cont{
    display: flex;
    flex-direction: column;
}

.output-cont{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 30px;
    font-weight: bold;  
    grid-gap: 6px;    
    border-top: 4px double gray;
}

.fb-div-box, .f-div-box, .b-div-box, .n-div-box {
    display: flex;
    height: 5em;    
    width: 80%;
    place-self: center;
    align-items: center;
    justify-content: center;
}

.fb-div-box{
    background-color: rgba(247, 202, 201, 0.5);    
}

.f-div-box{
    background-color: rgba(136, 176, 75, 0.5);
}

.b-div-box{
    background-color: rgba(149, 82, 81, 0.5);  
}

.n-div-box{
    background-color: rgba(146, 168, 209, 0.5);  
}

footer{
    position: fixed; 
    bottom: 0;
    font-size: 10px;
}

/*
each div should be fixed height and width BUT should respond to resizing browser window 
(for example 1 column 100 rows on small mobile, 
5x20 on tablet, and 10x10 on large HD screen).*/

@media (min-width: 576px){
    .output-cont{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 11px;
        height: 5em; 
    }

    .input-cont{
        display: inline-block;
    }
    .fb-div-box, .f-div-box, .b-div-box, .n-div-box {
        width: 90%;
    }



}



@media (min-width: 992px){
    .output-cont{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 9px;

    }
    .inner-input-cont{
        display: inline-block;
    }

}